:root {
    --bg-white: #e5e3d6;
    --card-white: #f9f6ed;
    --text-purple: #2d0a31;
    --brown: #865d1d;
    --green: #2ecc71;
    --yellow: #F9CF30;
    --red: #EE3D2D;
    --bg-green: rgba(20, 252, 32, 0.658);
    --bg-yellow: rgba(255, 238, 0, 0.301);
    --bg-red: rgba(216, 13, 13, 0.459);
}

@font-face {
    font-family: 'Manrope';
    src: url('./assets/fonts/Manrope/Manrope-VariableFont.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSerif';
    src: url('./assets/fonts/Noto_Serif/NotoSerif-VariableFont.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: var(--bg-white);
    color: #2d0a31;
    font-family: 'Manrope', sans-serif;
    line-height: 1.6;
    margin: 0;
    margin-top: 70px;
    font-weight: 400;
}

h1,
h2,
h3 {
    font-family: 'NotoSerif', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 13px;

    position: fixed;
    top: 0;
    height: 70px;
    left: 0;
    width: 100%;
    z-index: 1000;

    background-color: #f9f6edc5;
    background-image: url(../assets/imgs/colmeia.png);
    background-size: contain;

    backdrop-filter: blur(10px);

    border-bottom: 1px solid #2d0a310e;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: #2D0A31;
}

.logo {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 100%;
    width: auto;
}

.main {
    display: flex;
    flex-wrap: nowrap;
    min-height: calc(100vh - 70px);
    align-items: flex-start;
}

.sidebar {
    width: 20%;
    min-width: 220px;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-white);
    border-right: 1px solid gray;
}

.sidebar img {
    width: 50px; 
}

.sidebar h3 {
    color: rgb(100, 4, 124);
    font-size: 20px;
    margin: 10px;
}

.sidebar a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: rgb(57, 0, 83);
    transition: 0.2s;
}

.sidebar a>svg {
    color: rgb(57, 0, 83);
}

.sidebar a.sidebar-active {
    border-left: 5px solid #9a6e2a;
    background-color: #55555510;
    color: #9a6e2a;
    font-weight: bold;
}

.sidebar a.sidebar-active svg {
    color: rgb(57, 0, 83);
}

.sidebar a i {
    margin-right: 8px;
}

.sidebar a:hover {
    border-left: 5px solid #9a6e2a;
    background-color: #c5b4ca;
    color: #9a6e2a;
    font-weight: bold;
}

.content {
    flex: 1;
    margin-left: 20%;
    width: auto;
    padding: 20px 40px;
}

.logo {
    margin-top: 15px;
}

.logo h3 {
    cursor: pointer;
}

.logo h3:hover {
    opacity: 0.7;
}



.titulo-sessão {
    background-color: var(--card-white);
    padding: 10px;
    border-radius: 10px;
}

.titulo-sessão h2 {
    font-size: 40px;
}

.titulo-sessão p {
    font-size: 14px;
}

.titulo-sessão i {
    color: #9a6e2a;
}

.box-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card-unidade {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
    margin: 0;
    align-items: center;
    border: 2px solid;
    width: calc(33.333% - 7px);
    background-color: var(--card-white);
    border: none;
}

.verde {
    background-color: var(--bg-green);
    border-top: 5px solid var(--green);
}

.vermelho {
    background-color: var(--bg-red);
    border-top: 5px solid var(--red);
}

.amarelo {
    background-color: var(--bg-yellow);
    border-top: 5px solid var(--yellow);
}

.card-unidade svg {
    font-size: 28px;
    display: flex;
}

.graficos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.caixa {
    flex: 1 1 320px;
    width: auto;
    max-width: 100%;
    height: auto;
    padding: 20px;
    background-color: var(--card-white);
    border-radius: 20px;
    font-family: 'Manrope', sans-serif;
    color: black;
}

.caixa canvas, canvas {
    width: 100%;
    height: auto;
    display: block;
}

.content-apiario {
    height: 100vh;
}

.cards-apiarios {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 20px;
}

.apiario {
    width: 300px;
    display: block;
}

.select-apiario {
    height: 38px;
    padding: 0 12px;
    border: none;
    border-radius: 6px;
    background-color: var(--card-white);
    color: #2d0a31;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
}

select {
    border: 2px solid var(--bg-white);
    border-radius: 6px;
    background-color: var(--card-white);
    color: #2d0a31;
    cursor: pointer;
    font-weight: 500;
}

select:focus {
    border: 2px solid #865D1D;
}

textarea[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 400px;
}